:root {
  --appHeader: #95cd85;
  --appButton: #4ec5ff;
  --mainBackground: #cabc76;
  --font: #000;
  --appBackground: #fff;
  --sectionBackground: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--appBackground);
  color: var(--font);
}

.app {
  text-align: center;
}

.app-title {
  font-size: 1.8em;
  text-align: center;
  line-height: 75px;
}

.app-header,
.app-footer {
  background-color: var(--appHeader);
  color: var(--appBackground);
  width: 100%;
  text-align: center;
}

.app-header {
  font-size: 0.8em;
  line-height: 0.8em;
  height: 80px;
}

.app-footer {
  margin-top: 5px;
  font-size: 0.5em;
  vertical-align: middle;
  line-height: 50px;
  height: 50px;
}

strong {
  color: var(--appBackground);
}

.app-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--appBackground);
}

.app-intro {
  font-size: large;
}

#app-color {
  position: absolute;
  float: right;
  top: 20px;
  right: 30px;
}

.selector-container {
  display: flex;
  justify-content: flex-start;
  background-color: var(--sectionBackground);
}

#dropdown {
  background-color: var(--appButton);
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.main-div {
  background-color: var(--mainBackground);
  display: flex;
  flex-direction: column;
}

.list-div {
  height: 60vh;
  overflow: scroll;
  width: 100%;
}

.map-div {
  height: 60vh;
  width: 100%;
}

#map {
  height: 100%;
}

#map-aria-description {
  display: none;
}

.map-wrapper {
  width: 100%;
}

@media only screen and (min-width: 500px) {
  .main-div {
    flex-direction: row;
  }
  .app-title {
    font-size: 2.8em;
  }

  .footer-title {
    font-size: 1.8em;
  }
}
